<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>To do List 2</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <div class="box" id="heading">
        <h1> <%- listTitle %></h1>
    </div>




    <div class="box">
      <%  newListItems.forEach(function(item){ %>

        <form action="/delete" method="post">
          <div class="item">
                  <input type="checkbox" name="checkbox" value="<%=item._id  %>" onchange="this.form.submit()" >
                  <p><%- item.name %></p>
                  <input type="hidden" name="listName" value="<%= listTitle%>"></input>
          </div>
        </form>

      <%  })  %>




      <form class="item" action="/" method="post">
            <input type="text" name="newItem" value="" placeholder="New Item" autocomplete="off">
            <button type="submit" name="list" value="<%= listTitle %>"> + </button>

      </form>
    </div>


  </body>
</html>
